.grid {
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: repeat(7, 50px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    border:solid;
    border: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid;
    border-width: 2px;
    border-color:gray;
  }
  
  .cell.blue {
    background-color: blue;
  }
  
  .cell.red {
    background-color: red;
  }
  
  .cell.hover {
    background-color: yellow;
  }
  
  .connectFourButton {
    margin: 50px 0px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }

  .highlight {
    border: solid;
    border-color: rgb(255, 230, 188);

  }
  
  .infoGrid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
    border: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(227, 140, 0);
  }
  
  .infoCell {
    padding: 5px;
  }