html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, 50px);
  grid-template-columns: repeat(7, 50px);
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.blue {
  background-color: blue;
}

.cell.red {
  background-color: red;
}

.cell.hover {
  background-color: yellow;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
